<app-navigation-bar></app-navigation-bar>

        
<div class="card">
              
    <div class="form_container">
    <h1>Contact Us</h1>
      <div class="form">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="form">
        <label for="emailid"><b>Email</b></label>
        <input type="email" placeholder="Enter Email Id" name="emailid">
      </div>
      <div class="form">
        <label for="subject"><b>Subject</b></label>
        <input type="text" placeholder="Enter Subject" name="subject">
      </div>
      <div class="form">
        <label for="message"><b>Your Message</b></label>
        <input type="text" placeholder="Your Message here..." name="message">
      </div>

      <button type="submit" class="submitbtn">Submit</button>
    </div>
   
</div>


<app-footer></app-footer>
