<app-navigation-bar></app-navigation-bar>

<div class = "row">
    <div class = "column1">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta aliquid, sed qui eligendi sapiente voluptatem debitis 
        nesciunt at earum quis quisquam placeat doloribus ullam? Magnam consectetur vel quis modi molestiae?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta aliquid, sed qui eligendi sapiente voluptatem debitis 
        nesciunt at earum quis quisquam placeat doloribus nesciunt </p>
    </div>
    <div class = "column2">
    <img src = "assets/Images/indian_farming1.png">  
    </div>
</div>

<app-footer></app-footer>


