<app-navigation-bar></app-navigation-bar>

<div class="card">
    <div class="form_container">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname">
      
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw">
      
        <button type="submit" class="loginbtn"><a href="after_login_farmer.html">Login</a></button>
      
    </div>
    <div class="forgot_container">
      <span class="psw">Forgot <a href="forgot_password.html">password?</a></span>
    </div>
    <div class="forgot_container">
      <span class="psw">New User?<a href="farmer_or_bidder.html"> Register Here</a></span>
    </div>
</div> 

<app-footer></app-footer>