<app-navigation-bar></app-navigation-bar>

<div class="card">
    <p>
     Farmer's Scheme Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci alias in, quasi laboriosam minima dolore voluptate excepturi 
     exercitationem, quaerat quam, corporis culpa inventore necessitatibus eligendi id quas harum vitae perferendis.
    </p>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione rerum ipsum eius aliquam cumque consequuntur assumenda aliquid, 
    voluptatem voluptatum quisquam dolor ipsa? Eius tenetur voluptate nihil quos officiis, qui delectus?
    </p>
</div>

<app-footer></app-footer>
